# Python / Django
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# IDE / editor
.idea/
.vscode/

# Static / build artifacts
staticfiles/
static/

# Pytest
.pytest_cache/

# OS files
.DS_Store
Thumbs.db